<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add new attraction</h1>

<form action="#" th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{attractionId}"/>
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <br>
    <label>Description</label>
    <input type="text" th:field="*{description}">
    <br>
    <label>Tags</label>
    <select th:field="*{tags}" multiple>
        <option th:each="tag: ${tags}" th:value="${tag}" th:text="${tag}"></option>
    </select>
    <br>
    <button type="submit">Register attraction</button>





</form>
</body>
</html>