<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add new attraction</h1>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <br>

    <label>Description</label>
    <input type="text" th:field="*{description}">
    <br>

    <label>City</label>
    <input type="text" th:field="*{city}">
    <br>

    <label>Tags</label>
    <select th:field="*{tags}" multiple>
        <option th:each="tag : ${allTags}"
                th:value="${tag}"
                th:text="${tag}">
        </option>
    </select>
    <button type="submit">Register attraction</button>
</form>
</body>
</html>
