<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title th:text="${attraction.name}">Attraktion detaljer</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${attraction.name.toUpperCase()}">Navn</h1>

<h3>Tags</h3>
<table>
    <thead>
    <tr>
        <th>Tag</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${attraction.tags}">
        <td th:text="${tag}"></td>
    </tr>
    </tbody>
</table>

<p>
    <a th:href="@{/attractions}">Tilbage</a>
</p>

</body>
</html>
