<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opdater Attraktion</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Opdatér attraktion</h1>

<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">
    <label>Navn</label>
    <input type="text" th:field="*{name}" readonly>
    <br>

    <label>Beskrivelse</label>
    <input type="text" th:field="*{description}">
    <br>

    <label>By</label>
    <input type="text" th:field="*{city}">
    <br>

    <label>Tags</label>
    <select th:field="*{tags}" multiple>
        <option th:each="tag : ${allTags}"
                th:value="${tag}"
                th:text="${tag}">
        </option>
    </select>

    <button type="submit">Gem</button>
</form>
<p>
    <a th:href="@{/attractions}">Tilbage</a>
</p>
</body>
</html>
